@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-light: #a6f9d6;
  --primary: #5be2a9;
  --primary-dark: #53ce9a;
  --secondary: #1e2145;
  --white: #fff;
  --grey: #e6e6ff;
  --grey-dark: #6d7098;
  --red: #ff6b6b;
}

@layer components {
  /* --------------- Button Component Styles --------------- */
  .btn-standard {
    @apply p-2 border border-solid border-gray-700 rounded 
  }
  /* --------------- Input Component Styles --------------- */
  .form-label {
    @apply text-sm font-light text-gray-700;
  }
  .form-input-text {
    @apply p-1 border border-solid border-gray-800 bg-gray-300 rounded;
    @apply focus:ring-1 focus:ring-gray-700 focus:ring-offset-2;
  }
  .form-input-checkbox {
    @apply focus:ring-1 focus:ring-gray-700 focus:ring-offset-2;
  }
  .form-input-error {
    @apply font-light text-xs text-red-600
  }
}