@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  height: 100vh;
  background-color: white;
}

@layer base {
  html {
    font-family: Proxima Nova, system-ui, sans-serif;
  }
}

:root {
  --pw-green: #C2E7C9;
  --pw-yellow: #F2AC20;
  --pw-blue: #4265D6;
  --pw-navy: #293855;
  --pw-red: #ff6b6b;
  --white: #fff;
  --gray: #e6e6ff;
  --gray-light: #F3F3FF;
  --gray-dark: #6d7098;
}

@layer components {
  /* --------------- Button Component Styles --------------- */
  .btn-standard {
    @apply p-2 border border-solid border-gray-700 bg-white rounded text-center drop-shadow-md
  }

  .btn-standard:disabled {
    @apply border-gray-400 text-gray-400
  }
  /* --------------- Input Component Styles --------------- */
  .form-label {
    @apply text-sm font-light text-gray-700;
  }
  .form-input-text {
    @apply p-1 border border-solid border-gray-800 bg-gray-100 rounded;
    @apply focus:ring-2 focus:ring-offset-pw-blue focus:ring-offset-1;
  }
  .form-input-text-disabled {
    @apply p-1 border border-solid border-gray-500 bg-gray-300 rounded;
    @apply focus:ring-2 focus:ring-offset-pw-blue focus:ring-offset-1;
  }
  .form-input-checkbox {
    @apply focus:ring-2 focus:ring-pw-blue focus:ring-offset-1;
  }
  .form-input-error {
    @apply font-light text-xs text-red-600
  }
}